/* body {
    background: #2a2a31;
    color: white;
    font-family: "Arial", sans-serif;
    /* text-align: center; 
}

h1, h2 {
    margin-left: 30px;
}
#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
}
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.intro-text {
    margin-bottom: 20px;
    text-align: left;
}

header {
    background-image: url('/src/img/code-1076536_640.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

header h1, header p, header div {
    position: relative;
    z-index: 2; 
}


.profile-picture {
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: 50%;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.skills-section {
    display: grid;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
    grid-template-columns: 2fr 2fr 2fr;
}

.card {
    background: linear-gradient(90deg, #35353f 0%, #3d3b3e 50%, #3d3b3e 50%);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.cardTitle {
    margin-left: 0;
}

.cv-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;

}

.navbar-link {
    position: relative;
    text-decoration: none;
    color: white;
}

.navbar-link li {
    display: inline-block;
    padding-bottom: 5px;
}

.navbar-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    top: 24px;
}

.navbar-link:hover::after {
    transform: scaleX(1);
}

/*  */
.fontCourier {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}


.presentation {
    width: 430px;
}

/* .img-card {
    width: 60px;
} */



 
